
body {
color: rgb(240, 237, 237);
background: rgb(250, 3, 168);
margin: 0px;
font-family: "Chakra Petch", sans-serif;
}
header {
border-bottom: solid 2px rgb(238, 236, 238);
padding: 20px;
font-size: 32px;
color: rgb(12, 0, 11);
}
body {
color: white;
background: rgb(23, 2, 78);
margin: 0px;
font-family: "Chakra Petch", sans-serif;
margin-bottom: 100px;
}
header {
border-bottom: solid 2px rgb(216, 221, 228);
padding: 20px;
font-size: 32px;
color: rgb(173, 47, 211);
}
.chamada {
background: rgb(103, 4, 143);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
.chamada-texto {
margin-right: 5%;
}
h1 {
font-size: 40px;
}

p {
font-size: 20px;
}
.categoria-videos {
display: flex;
overflow-x: auto;
gap: 10px;
}
.categoria {
padding-left: 20px;
padding-right: 20px;
margin-top: 50px;
}
.categoria-videos img {
opacity: 0.5;
height: 200px;
}
.categoria-videos img:hover {
opacity: 1.0;
border: 3px solid rgb(142, 64, 214);
}
.categoria h2 {
color: rgb(197, 40, 131);
}